body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.chat-messages {
    border: 1px solid #ccc;
    height: 500px;
    width: 600px;
    overflow-y: scroll;
    padding: 20px;
}

.chat-input {
    display: flex;
    margin-top: 5px;
    height: 50px;
    width: 100%;

}

.gpt-chat-messages {
    text-align: left;
    padding: 10px;
    display: flex;
    margin-left: 10px;
    color: blueviolet;
    
}

.user-messages {
    text-align: left;
    padding: 10px;
    display: flex;
    margin-left: 10px;
    color: black;
    
}

user-message

#message-input {
    flex: 1;
    padding: 5px;
}

#send-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
