.chat-messages {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.chat-message {
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-section {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  max-height: 700px;
  overflow-y: auto;
}

/* chat_button.css */
.chat-input {
  display: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat-input input[type="text"] {
  align-self: center;
  position: relative;
  bottom: 0px;
  padding: 10px;
  border: 2px solid #ddd;
  outline: none;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}

.chat-input button {
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #0069d9;
}
